.App {
  text-align: center;

  background: linear-gradient(60deg,red, blue);
  width: 100vw;
  height: 100vh;
  animation: blinker 0.1s linear 3s infinite;
  position: relative;
}

@keyframes blinker {
  0%{
    background: linear-gradient(60deg,red, blue);
  }
  100%{
    background: linear-gradient(240deg,red, blue);
  }
}

.message{
  position: absolute;
  top: 40%;
  left: 40%;
}